
/*
     FILE ARCHIVED ON 03:25:31 Nov 02, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:17:08 May 26, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 104.322
  exclusion.robots: 0.111
  exclusion.robots.policy: 0.102
  RedisCDXSource: 4.342
  esindex: 0.007
  LoadShardBlock: 75.061 (3)
  PetaboxLoader3.datanode: 89.998 (5)
  CDXLines.iter: 21.705 (3)
  load_resource: 148.18 (2)
  PetaboxLoader3.resolve: 69.501 (2)
*/